body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
#wrapper{
  margin: 0 18% 0 18%;
  background-color: #fff;
  text-align: center;
}

.content{
  padding: 10px;
  background-color: #fff;
  height: auto;

}
.contentbanner{
  background-color: #fff;
  height: auto;
}
.bannerspace{
  width: 100%;
  height: 10%;
  background-color: #fff;
  margin-top: 40px;
  padding-left: 18%;
}

.bannerspace img{
  width: 14%;
}

.footerspace{
  font-size: 0.9em;
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding-left: 18%;
}
.quicklink{
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding-left: 6%;
}
.footer{
  padding-top: 20px;
  width: 100%;
  height: 100px;
  background-color: #00609a;
  padding-left: 18%;
}
.span{
  width: 17%;
}
.span2{
  width: 22%;
}
.spanheight{
  width: 100%;
  height: 100px;
}
.inputg{
  width: 60%;
  display: inline-block;
}
#page-background {
  background-size: cover;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -100
}


.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
}
@keyframes slide {
0% {
  opacity: 0;
  transform: translateY(70%);
} 
100% {
  opacity: 1;
  transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
  opacity: 0;
  -webkit-transform: translateY(70%);
} 
100% {
  opacity: 1;
  -webkit-transform: translateY(0%);
}
}

.formatdata{
 
}


.banner{
  background-color: #00609a;
  height: 150px;
  width: 100%;
  margin-bottom: 30px;
  padding: 40px;
  color: #fff;
}

h2 {
  font-weight: 700;
}

.credit {
  color: #fff;
  font-size: 0.6em;
}

.explainer {
  padding: 10px 0;
}

.updated {
  font-weight: bold;
  font-size: 12px;
  text-align: left !important;
}

a {
  color: #555;
  font-size: 15px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  
}

a:hover {
  color: #555;
  
  
}

a:active {
  text-decoration: none;

}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #ED204C;
}
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
  background-color: #ED204C;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  background-color: #ED204C;
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */


/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- #element-item ---- */

#element-item {
  position: relative;
  text-align: left !important;
  font-family: sans-serif;
  width: 30%! important;
  height: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid #616161;
  border-radius: 4px;
  background: rgba( 253, 253, 253, 0.9);
  color: #5C564B;
  box-shadow: 1px 1px 1px #999999;
  display: block;
}

#element-item:hover{
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

#element-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}



#element-item .category {
  display: inline-block;
  font-size: 15px;
  background-color: #800000;
  padding: 5px 25px;
  color: #fff;
  width: auto;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 10px;

}


#element-item img {
  border: 1px solid #333;
}


#element-item .readmore, #element-item .readmore a {
  font-weight: 700;
  color: #800000;
  font-size: 12px;
}

#element-item .description {
  padding-top: 10px;
  padding-bottom: 10px;
}


#element-item .boldsubhed {
font-size: 13px;
font-weight: 700;
color: #666;

}
#element-item .name {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 5px;

}

.is-checked {
  background-color: #0069d9;
}


#element-item .colorsubhed {
  font-weight: 700;
  color: #800000;

}

#element-item .location {
  font-weight: 700;
}

#element-item .date, #element-item .description  {
  font-size: 13px;

}

.page-header {
  padding: 0px;
  margin: 0px;
}





@media screen and (min-width: 1000px) {
  body {
    width: 100%;
  }
}

@media (max-width: 850px) {
body{
  padding-top: 8%;
}
#element-item {
  width: 80%! important;
}

.bannerspace img{
  width: 20%%;
}

#wrapper{
  margin: 0 0 0 0;
}

.footerspace{
  padding-left: 2%;
}
.quicklink{
  padding-left: 2%;
}
.footer{
  padding-left: 2%;
}

}








@media (max-width: 550px) {
body{
  padding-top: 10.3%;
}
#element-item {
  width: 60%! important;
}
.bannerspace img{
  width: 30%;
}
.button{
  border-radius: 7px;
}
h2 {
  font-size: 1.6em
}
.btn-default  {
  font-size: 0.9em;
}

body {
  font-size: 1.0em;
}

#wrapper{
  margin: 0 0 0 0;
}

#element-item .boldsubhed, #element-item .description {
font-size: 1.0em;

}
#element-item .category {
  font-size: 1.2em;
  padding: 5px 15px;
}
#element-item .name {

  font-size: 1.1em;

}


.footerspace{
  padding-left: 2%;
}
.quicklink{
  padding-left: 2%;
}
.footer{
  padding-left: 2%;
}

}






@media (max-width: 320px) {
body{
  padding-top:3.8%;
}
   #element-item {
  width: 100%! important;
}

.button{
  border-radius: 7px;
}
.btn-default {
  font-size: 0.7em;
}

body {
  font-size: 1.3em;
}

h2 {
  font-size: 1.4em;
}

#element-item img {
  height: 120px;
}

.bannerspace img{
  width: 30%%;
}

#database{
  height: 100%;
  display: inline-block;
}
